* {
    box-sizing: border-box;
}
body{
    background-image: url(../Img/fundo2.jpg);
    
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    
   
}
p{
    font-family: "Poppins";
}
header{
    background-color: white;
    filter: opacity(0.98);
    height: 80px;
}
#descricao-caixa{
    width: 750px;
    text-align: justify;
}

ul, .cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;

}
@font-face {
    font-family: 'Roboto';
    src: url(../font/Roboto-Light.ttf);

}
@font-face {
    font-family: 'Poppins';
    src: url(../font/Poppins-Thin.ttf);
}
h3{
    margin: 0px 20px;
    text-decoration: none;
    font-family: 'Poppins';
    font-size: 18px;
}
h3:hover{
    border-bottom: 1px solid rgb(211, 135, 255);
    background:  linear-gradient(to right, #ff0066 0%, #9999ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 850;
}
a{
    text-decoration: none;
    color: black;
}
#PetShop, #Paraolímpiadas, #Formulario, #BancoJava, #Imobiliaria, #Formula-1{
background-color: rgb(255, 255, 255);
    filter: opacity(0.95);
    width: 350px;
    height: 190px;
    padding: 10px;
    text-align: justify;
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-end;
    transition: transform 0.3s ease-in;
}
#PetShop:hover{
    transform: scale(1.02);
    box-shadow: 2px 2px 15px #ff0066,
                4px 4px 10px #F2B705,
                6px 6px 20px #7933fc,
                7px 7px 20px #ffffff;
}
#Paraolímpiadas:hover{
    transform: scale(1.02);
    box-shadow: 2px 2px 15px #ff0066,
                4px 4px 10px #F2B705,
                6px 6px 20px #7933fc,
                7px 7px 20px #ffffff;
}
#Formulario:hover{
    transform: scale(1.02);
    box-shadow: 2px 2px 15px #ff0066,
                4px 4px 10px #F2B705,
                6px 6px 20px #7933fc,
                7px 7px 20px #ffffff;
}
#BancoJava:hover{
    transform: scale(1.02);
    box-shadow: 2px 2px 15px #ff0066,
                4px 4px 10px #F2B705,
                6px 6px 20px #7933fc,
                7px 7px 20px #ffffff;
}
#Imobiliaria:hover{
    transform: scale(1.02);
    box-shadow: 2px 2px 15px #ff0066,
                4px 4px 10px #F2B705,
                6px 6px 20px #7933fc,
                7px 7px 20px #ffffff;
}
#Formula-1:hover{
    transform: scale(1.02);
    box-shadow: 2px 2px 15px #ff0066,
                4px 4px 10px #F2B705,
                6px 6px 20px #7933fc,
                7px 7px 20px #ffffff;
}

#BancoJava{
    margin: auto;
}
    #caixa-text{
        background: transparent;
        color: white;
        border: 1px solid rgba(255, 255, 255, 0.507);
       border-left: transparent;
       border-right: transparent;
        backdrop-filter: blur(300px);
        padding: 8px;
        text-align: center;
        margin: 0px 0px 45px;
        
    }
h4{
    font-family: "Poppins";
}

.Caixa-projects{
    display: flex;
    justify-content: space-around;
}

#title{
    color: white;
    border: 1px solid white;
    font-family: 'Roboto';
    width: 200px;
    margin: auto;
    margin-bottom: 120px;
    margin-top: 85px;
    text-align: center;
}
footer{
    background-color: #ffffffef;
    height: 105px;
    font-weight: 600;
    margin-top: 200px;
    
    
}
.centralizacao{
    
    display: flex;
    justify-content: space-evenly
}
#footer-center{
    display: flex;
}

li{
    display: flex;
    margin: 0px 45px;
    color: #8181e6;
}

a{
    text-decoration: none;
    color: black;
}
